---
export interface Props {
  title: string;
  description: string;
  media?: any;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, media } = Astro.props;
---

<!-- Global Metadata -->
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width,initial-scale=1' />
<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
<meta name='generator' content={Astro.generator} />
<meta name='robots' content='index, follow' />
<meta http-equiv='X-UA-Compatible' content='IE=edge' />
<meta
  name='keywords'
  content='Jan Rebolledo,graphic designer,motion designer,web designer,web developer'
/>

<!-- Canonical URL -->
<link rel='canonical' href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name='title' content={title} />
<meta name='description' content={description} />

<!-- Open Graph / Facebook -->
<meta property='og:type' content='website' />
<meta property='og:url' content={Astro.url} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
{
  media && media.fields.file.contentType.includes('image') ? (
    <meta property='og:image' content={'https' + media.fields.file.url} />
  ) : (
    <meta property='og:image' content='/socialpreview.png' />
  )
}

<!-- Twitter -->
<meta property='twitter:card' content='summary_large_image' />
<meta property='twitter:url' content={Astro.url} />
<meta property='twitter:title' content={title} />
<meta property='twitter:description' content={description} />
{
  media && media.fields.file.contentType.includes('image') ? (
    <meta property='twitter:image' content={'https' + media.fields.file.url} />
  ) : (
    <meta property='twitter:image' content='/socialpreview.png' />
  )
}
<meta name='twitter:site' content='@janconcepts' />
<meta name='twitter:creator' content='@janconcepts' />

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
  @font-face {
    font-family: 'Libre Baskerville';
    src: url('/fonts/LibreBaskerville-Italic.ttf');
    font-display: swap;
  }
</style>
{
  import.meta.env.DEV ? undefined : (
    <script
      defer
      src='https://unpkg.com/@tinybirdco/flock.js'
      data-host='https://api.us-east.tinybird.co'
      data-token='p.eyJ1IjogIjE1MDNkNDRkLWMxZDUtNDQ1NC04NzE3LTU0MGIwMDgzZjhjNCIsICJpZCI6ICJmZTY3NWIyMS03ZjQ5LTRmYWQtYmFmNy1lODJhN2E2MDg3OWUifQ.wg4gY-TCYInyi1tL27gzHBtBF6mm9mjAGMzPsQI8Wu8'
    />
  )
}
